@font-face {
  font-family: "Circularstd";
  src: url("./fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circularstd";
  src: url("./fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Circularstd", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all ease-out 200ms;
}

main {
  font-size: 24px;
  width: 800px;
  padding: 70px 40px;
  line-height: 44px;
  letter-spacing: -0.9px;
}

@media (min-width: 1200px) {
  main {
    width: auto;
    padding: 60px 16px;
  }
}

h1 {
  font-size: 40px;
}

ul {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  transition: all ease-out 200ms;
}

a:hover {
  border-bottom: 1px solid #000;
}

.emoji {
  width: 40px;
}

.btn {
  position: absolute;
  top: 32px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.btn img {
  width: 100%;
}

.sun {
  display: none;
}

body.dark {
  background-color: #181b1d;
  color: #b8b9b9;
}

body.dark a {
  color: #b8b9b9;
  border-bottom: 1px solid #313436;
}

body.dark a:hover {
  border-bottom: 1px solid #ccc;
}

body.dark .moon {
  display: none;
}

body.dark .sun {
  display: block;
}
